/* -----------------------------------------------------------------------------
   MAIN STYLE FILE
  ------------------------------------------------------------------------------

  - $GLOBAL
    - $SEARCH

  ----------------------------------------------------------------------------*/

/* -----------------------------------------------------------------------------
  $GLOBAL
  ----------------------------------------------------------------------------*/
div.key-value > b {
    display: inline-block;
    width: 250px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.default-spacing {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.source-list {
  display: inline-block;
  margin-top: 8px;
  font-weight: bold;
}

.list-active {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}

.clear {
  clear: both;
}

.paragraph-text {
  white-space: pre;
}

.list-group-item {
  cursor: pointer;
}

.package-homepage {
  margin-left: 10px;
}

/* -----------------------------------------------------------------------------
  $GLOBAL > $SEARCH
  ----------------------------------------------------------------------------*/
.search {
  margin-top: 20px;
}

.search > .input-group {
  margin-bottom: 20px;
}

.search .label {
  margin-left: 10px;
  display: inline-block;
}
